.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.search-container input {
    border-radius: 14px;
    padding: 10px;
    border: 1px solid #d6d3d3;
    background-color: white;
    color: gray;
    box-shadow: 10px 5px 5px bleu;
}   